html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#player {
  height: 100vh;
  width: 100%;
}

.p5Canvas {
  height: auto !important;
  width: 100% !important;
  position: absolute;
  top: 0;
}
